@import 'tailwindcss'; /* You can add global styles to this file, and also import other style files */

:root {
  --navbar-height: 60px;
}

@theme inline {
  --spacing-navbar: var(--navbar-height);
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

@layer base {
  html {
    @apply scrollbar-stable;
  }

  button {
    @apply cursor-pointer;
  }
}
