@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import 'tailwindcss'; /* You can add global styles to this file, and also import other style files */
@import 'quill/dist/quill.snow.css'; /* Quill editor styles */

:root {
  --navbar-height: 60px;
  --sidebar-width: 240px;
}

@theme inline {
  --spacing-navbar: var(--navbar-height);
  --spacing-sidebar: var(--sidebar-width);
  --spacing-screen-without-navbar: calc(100vh - var(--navbar-height));

  --font-exo: 'Exo 2', sans-serif;
  --font-limelight: 'Limelight', cursive;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-berkshire: 'Berkshire Swash', cursive;
}

@utility scrollbar-stable {
  scrollbar-gutter: stable;
}

@layer base {
  html {
    @apply scrollbar-stable;
  }

  button {
    @apply cursor-pointer;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-up {
  opacity: 0;
  animation: fade-in-up 0.6s ease-out forwards;
}

.animate-fade-in-right {
  opacity: 0;
  animation: fade-in-right 0.8s ease-out forwards;
}
